<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>People's Book Library</title>
<base href="/"/>
</head>
<body ng-class="{'sml': $root.smallScreen, 'user': $root.currentUser}" class="flex md-layout-column">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" flex>
      <h3 hide show-gt-md>
        <span>The Peoples Book List</span>
      </h3>
      <div class="user-nav" ng-if="$root.currentUser" layout="row">
        <md-button show-gt-md hide ui-sref="home" aria-label="Navigate to home">
          All
        </md-button>
        <md-button show-gt-md hide ui-sref="mybooks" aria-label="Navigate to your Library">
          Yours
        </md-button>
        <md-button show-sm show-md hide ui-sref="home" class="md-icon-button" aria-label="Navigate to home">
          <md-icon md-svg-src="ic_public"></md-icon>
        </md-button>
        <md-button show-sm show-md hide ui-sref="mybooks"  class="md-icon-button" aria-label="Navigate to your Library">
          <md-icon md-svg-src="ic_person"></md-icon>
        </md-button>

      </div>


      <span flex></span>
      <blaze-template name="loginButtons"></blaze-template>
    </div>
  </md-toolbar>
  
  
  <md-content flex flex-lg="80" layout-padding layout="column"
    layout-align="start start" md-scroll-y>
    <ui-view></ui-view>
  </md-content>
  <md-button ng-if="$root.currentUser" class="md-icon-button md-primary md-fab add-button" aria-label="add book" ui-sref="create">
    <md-icon md-svg-src="ic_add"></md-icon>
  </md-button>
</body>