
.add-button {
  position: fixed;
  bottom: 4%;
  right: 2%;
}

#login-buttons {
  position: relative;
  z-index: 100;
}
#login-dropdown-list {
  left: -200px;
}
/* small screen overrides */
.sml.user {
  /* default meteor auth ui */
  a.login-link-text {
    display: block;
    font-size: 13px;
    overflow: hidden;
    width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

/* ui-view animation */

ui-view {
  position: absolute;
  opacity: 1;
  transition: all 1000ms ease-in-out;
  &.ng-enter, &.ng-leave {
    opacity: 0;
  }
  &.ng-enter-active {
    opacity: 1;
  }
}
